# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Randy Stauner <rwstauner@cpan.org> <randy@magnificent-tears.com>
Tatsuhiko Miyagawa <miyagawa@cpan.org> <miyagawa@bulknews.net>
Nickolay Platonov <nplatonov@cpan.org> <nickolay@desktop.(none)>
Nickolay Platonov <nplatonov@cpan.org> <nickolay8@gmail.com>
Nickolay Platonov <nplatonov@cpan.org> nickolay <nickolay8@gmail.com>
Torsten Raudssus <torsten@raudss.us> <github@raudssus.de>
Torsten Raudssus <torsten@raudss.us> <getty@cpan.org>
Karen Etheridge <ether@cpan.org> <github@froods.org>
