Randy Stauner <rwstauner@cpan.org> <randy@magnificent-tears.com>
Tatsuhiko Miyagawa <miyagawa@cpan.org> <miyagawa@bulknews.net>
Nickolay Platonov <nplatonov@cpan.org> <nickolay@desktop.(none)>
Nickolay Platonov <nplatonov@cpan.org> <nickolay8@gmail.com>
Nickolay Platonov <nplatonov@cpan.org> nickolay <nickolay8@gmail.com>
Torsten Raudssus <getty@cpan.org> <github@raudssus.de>
Torsten Raudssus <getty@cpan.org> <torsten@raudss.us>
