---
before_install:
  - export AUTOMATED_TESTING=1
  - export HARNESS_OPTIONS=j10:c
  - export HARNESS_TIMER=1
  - git config --global user.name "TravisCI"
  - git config --global user.email $HOSTNAME":not-for-mail@travis-ci.org"
install:
  - export AUTOMATED_TESTING=1
  - export HARNESS_OPTIONS=j1:c
  - export HARNESS_TIMER=1
  - cpanm --verbose --skip-satisfied Dist::Zilla
  - cpanm --verbose Dist::Zilla::App::Command::stale
  - "dzil stale --all | cpanm"
  - "dzil authordeps --missing | grep -vP '[^\\w:]' | xargs -n 5 -P 10 cpanm"
  - "dzil listdeps --author --missing | grep -vP '[^\\w:]' | cpanm"
language: perl
perl:
  - 5.18
  - 5.16
  - 5.14
  - 5.12
  - 5.10
script:
  - export AUTOMATED_TESTING=1
  - export HARNESS_OPTIONS=j10:c
  - export HARNESS_TIMER=1
  - dzil test --all
